# Ignore 'work' directories anywhere in the repo
**/work/

# Ignore all contents of any 'covReport' directory
**/covReport/*

# Allow only these two specific files inside any 'covReport' directory
#!**/covReport/index.html
#!**/covReport/covsummary.html

# Ignore all log files anywhere
*.log

# Ignore 'transcript' files or directories anywhere
**/transcript
*.ucdb
